<!DOCTYPE html>
<html>
<head>
    <title>Finalisez votre inscription Benedicte.io</title>
</head>
<body>
    <p>Bonjour {{ user.email }},</p>
    <p>Merci de vous être inscrit à Benedicte.io !</p>
    <p>Pour finaliser votre compte et accéder à nos analyses, veuillez définir votre mot de passe en cliquant sur le lien ci-dessous :</p>
    <p><a href="{{ set_password_url }}">Définir mon mot de passe</a></p>
    <p>Si vous n'avez pas initié cette inscription, veuillez ignorer cet email.</p>
    <p>Cordialement,<br>L'équipe Benedicte.io</p>
</body>
</html>